{
    admin off
    email {$ACME_EMAIL}
}

{$HEALTH_API_DOMAIN}, {$JOURNAL_API_DOMAIN} {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }

    @internal path /internal/*
    respond @internal 404

    reverse_proxy gateway:8080 {
        header_up X-Real-IP {remote_host}
        flush_interval -1
    }
}

{$ADMIN_DOMAIN} {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }

    reverse_proxy admin:8082 {
        header_up X-Real-IP {remote_host}
    }
}
